# Environment secrets
.env

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Cache & Output Data
data/cache/
*.parquet
*.json
outputs/
*.log

# Scratch scripts
scratch/


.vercel
